<div class="col-12" data-description>
    <ol>
        <li>轉換各大電商上架圖片</li>
        <li>Shopee，PChome，MoMo，Line</li>
        <li>拖拉圖片到拖拉區</li>
        <li>選擇圖片按鍵</li>
        <li>自定義轉換 寬度(width) 與 高度(height)</li>
        <li>圖片限制是 1.5 MB</li>
    </ol>
</div>
