<link rel="stylesheet" href="~/css/Upload/ImageUpload.css" />
@Html.AntiForgeryToken()
<input id="fileElem"
       type="file"
       multiple
       accept="image/*"
       style="display: none"
       onchange="setDropFilesToTable(this.files)">

<div class="col-12" data-fileResult-template style="display: none;">    `
    <div class="col-12" data-file>
        <div class="col-1" data-remove>
            <span class="fa fa-trash-alt" onclick="removeSelected(this)"></span>
        </div>
        <div class="col-2" data-img>
            <img src="" width="80" alt="sample" />
        </div>
        <div class="col-9 p2">
            <div class="col-lg-12 col-sm-12" data-file-info>
                <span data-file-name></span>
                <span data-file-size></span>
            </div><!-- File Info-->
            <div class="col-lg-12  col-sm-12 progress" data-progress style="display: none;">
                <div class="progress-bar progress-bar-danger"
                     role="progressbar"
                     data-progress-bar
                     aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100"
                     style="width: 0;">
                </div>
            </div><!-- Progress bar-->
            <div class="col-lg-12 col-sm-12" data-alert style="display: none;">
                <span class="label label-danger">size over 1.5MB</span>
            </div>
        </div>
    </div>
</div>

<div id="fileContainer" class="row">
    <div id="fileArea" class="col-lg-7 col-sm-7 fl">
        <div id="fileResult" class="col-12">
            @await Html.PartialAsync("_Description")
        </div>
    </div>
    <div class="col-lg-5 col-sm-5 fl">
        <div id="dropArea" class="col-12">
            <div id="dropbox" class="col-12">
                Drag & drop your files (<=1.5 MB )
            </div>
        </div>
        <div id="customSizes" class="input-group input-group-sm">
            <div class="input-group-prepend">
                <span class="input-group-text" id="customWidth">寬度</span>
            </div>
            <input type="text" class="form-control" placeholder="自定義寬度 px">
            <div class="input-group-prepend">
                <span class="input-group-text" id="customHeight">高度</span>
            </div>
            <input type="text" class="form-control" placeholder="自定義高度 px">
        </div>
        <div id="uploadBtn" class="btn-group" role="group" aria-label="uploadBtns">
            <button id="fileSelect" type="button" class="btn btn-light">
                <i class="fas fa-images"></i>
                選擇圖片
            </button>
            <button id="uploadFiles" type="button" class="btn btn-light" disabled="disabled">
                <i class="fas fa-redo-alt fa-spin"></i>
                開始轉換
            </button>
            <button id="resetFiles" type="button" class="btn btn-light">
                <i class="fa fa-trash-alt"></i>
                重新選擇
            </button>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/js/Upload/ImageUpload.index.js"></script>
}

