#fileContainer {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

#fileArea, #dropArea {
    padding: 0;
}

#fileResult {
    padding: 2px 2px 2px 2px;
}

#dropArea {
    background-color: var(--backgroundcolorDefault);
    border-radius: 16px;
}

#rightArea {
    padding-left: 2px;
    padding-right: 2px;
}

#dropbox {
    height: 320px;
    line-height: 320px;
    border-radius: 16px;
    border: 1px dashed #808080;
    border: 1px dashed rgba(128, 128, 128, 0.6);
    background-color: rgba(239, 239, 239, 0.46);
    text-align: center;
    font-weight: bold;
    font-size: 140%;
    color: lightgray;
    margin-bottom: 1px;
}

    #dropbox.highlight {
        border-width: 2px !important;
        border-color: rgba(128, 128, 128, 0.9) !important;
    }

#customSizes, #customSizeFiles, #uploadBtn {
    padding: 2px 0 2px 0;
}

    #uploadBtn i {
        margin: 0 2px 0 2px;
    }

.fl {
    float: left;
}

.p2 {
    padding-left: 2px;
}

#customSizeFiles {
}

    #customSizeFiles input::placeholder {
        color: gray;
        font-size: 70%;
    }

    #customSizeFiles input:-moz-read-only {
        color: navy;
        background-color: whitesmoke;
    }

    /* Supported in Blink/WebKit/Edge without a prefix */
    #customSizeFiles input:read-only {
        color: navy;
        background-color: whitesmoke;
    }


    #customSizeFiles span {
        font-size: 80%
    }

    #customSizeFiles i {
        margin: 0 2px 0 2px;
    }

[data-file] {
    padding: 5px 10px 5px 10px;
    border-width: thin;
    border-bottom: 1px solid #808080;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

[data-file-info] {
    padding: 5px 0 5px 0;
}

    [data-file-info]::before {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

[data-file-name] {
    font-size: 85%;
    display: inline-block;
}

[data-file-size] {
    color: gray;
    padding-left: 10px;
    font-size: 70%;
    vertical-align: middle;
    display: inline-block;
}

[data-progress], [data-alert] {
    margin-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
}

[data-alert] {
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: 1px;
}

[data-progress] {
    height: 10px !important;
}

[data-img] {
    padding-left: 0;
}

[data-fileResult] {
    border-radius: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    background-color: #f5f5f5;
    background-color: rgba(245, 245, 245, 0.4);
}

    [data-fileResult]:hover {
        background-color: #f5f5f5;
        background-color: rgba(226, 226, 226, 0.4);
        cursor: pointer;
    }

[data-remove] {
    position: relative;
    top: 30px;
    right: 10px;
    float: right;
    z-index: 100;
    color: rgba(128, 128, 128, 0.9);
}

    [data-remove]:hover {
        color: red;
    }

[data-description] {
    padding-top: 20px;
    padding-left: 0;
    padding-bottom: 20px;
}

ol {
    list-style: none;
    counter-reset: my-awesome-counter;
    padding-left: 0;
}

li {
    counter-increment: my-awesome-counter;
    margin: 0.5rem 0.25rem 0.5rem 0.25rem;
    font-size: 110%;
}

    li::before {
        content: counter(my-awesome-counter);
        font-size: 70%;
        background: rgba(102, 41, 116, 0.8);
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: inline-block;
        line-height: 2rem;
        color: white;
        text-align: center;
        margin-right: 1rem;
    }

ol ol li::before {
    background: #DE51FF;
}

ol ol ol li::before {
    background: #EE9EFF;
}
